<!DOCTYPE html>
<html lang="en">
<div id="page">
	<div class="fixedcontainer">
	  <h1>Log in</h1>
	  <hr>
	  <div class='login'>
		  <form action="/login" method="post" >
		    <h4>Username: <input type='text' size='30' name="username" placeholder="John Doe"></h4>
		    <h4>Password: <input type='password' size='30' name="password" placeholder="*************"></h4>
		    <h4 id='submit'><input type="submit"></h4>
		  </form>

		  
		</div>
		<div id='register'><h3><a href="/register">Register</a></h3></div>
		<br>
  </div>
</div>

</html>